body {
    background-color: black;
    color: white;
    font-family: monospace;
    text-align: center;
    transition: opacity 500ms linear;
}

#info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
